* {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

.grid {
    display: grid;
    grid-template-columns: 16% 68% 16%;
    grid-template-rows: 85%;
}

.gridAnidadoMenuInferior {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 125px;
}

.gridAnidadoInterfazUsuario {
    display: grid;
    border: #535c68 4px solid;
    box-shadow: #535c68 10px 8px 6px;
    border-radius: 20px;
    background: #c7ecee;
    margin: 5px 10px 10px 5px;
    padding: 12px;
    color: #130f40;
    align-items: flex-start;
    font-size: 12px;
    text-transform: uppercase;
}

.layoutSkills {
    border: 2px solid #535c68;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #130f40;
    color: #c7ecee;
}

.layoutSkills>img {
    width: 25px;
    height: 25px;
}

.layoutSkills:hover {
    background-color: #c7ecee;
    color: #130f40;
}

.cuadroHistoria {
    border: #535c68 2px solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 13px;
    overflow: scroll;
}

.cuadroMenu {
    display: grid;
    grid-template-columns: 50% 50%;
    border: #535c68 2px solid;
    background-color: #c7ecee;
    border-radius: 10px;
    margin: 4px;
    padding: 2px;
    font-size: 14px;
}




.gridElement {
    border: #535c68 4px solid;
    box-shadow: #535c68 10px 8px 6px;
    border-radius: 20px;
    background: #c7ecee;
    margin: 5px 10px 10px 5px;
    padding: 12px;
    color: #130f40;
}

.gridElementSpriteUsuario {
    background: #22a6b3;

}

/* .gridElementSprites {
    
} */

body {
    background-color: #22a6b3;
}

.titulo {
    border: #535c68 4px solid;
    box-shadow: #535c68 10px 8px 6px;
    border-radius: 20px;
    background: #c7ecee;
    text-align: center;
    padding: 20px;
    margin: 5px 10px;
    font-size: 25px;
    color: #130f40;
}

button {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
    background-color: #f9ca24;
    border: #535c68 2px solid;
    color: #130f40;
    padding: 4px;
    cursor: pointer;
    border-radius: 10px;
}

.imgCorazon {
    height: 18px;
    width: 18px;
}

.imagenFondo {
    height: auto;
    width: 100%;
    max-height: 490px;
    border-radius: 10px;

}

#fondoJuego {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Imagenes proyecto juego/fondoPraderaDia.jpg");
}

.sprites {
    height: 150px;
    width: 150px;
}

.gridElementInterfazEnemigo {
    display: grid;
    grid-template-rows: auto auto 400px;
    border: #535c68 4px solid;
    box-shadow: #535c68 10px 8px 6px;
    border-radius: 20px;
    background: #c7ecee;
    margin: 5px 10px 10px 5px;
    padding: 12px;
    color: #130f40;
    align-items: flex-start;
    font-size: 12px;
    text-transform: uppercase;
    gap: 5px;
}

.gridElementInterfazEnemigo>div {
    border: 2px solid #535c68;
    border-radius: 10px;
    padding: 10px;
    background-color: #130f40;
    color: #c7ecee;
    font-size: 10px;
}

.cuadroDaño {
    height: 375px;
    border: #535c68 2px solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 10px;
    overflow: scroll;
}


.imgAltavoz {
    height: 30px;
    width: 30px;
}

.daño {
    color: red;
    line-height: 15px;
}

.defensa {
    color: #c7ecee;
    line-height: 15px;
}

.defensaEnemigo {
    color: rgb(75, 171, 235);
    line-height: 15px;
}

.dañoEnemigo {
    color: rgb(172, 20, 20);
    line-height: 15px;
}

.pjHombre {
    max-width: 250px;
    height: auto;
    margin-top: 200px;
    margin-right: 130px;
    /* border: 2px solid red; */
    justify-self: start;
    cursor: pointer;
    /* margin-top: 200px; */
}

.pjMujer {
    max-width: 250px;
    max-height: 250px;
    margin-top: 200px;
    /* border: 2px solid red; */
    cursor: pointer;
    justify-self: end;
    /* margin-left: 300px; */
}

#spriteDelPersonaje {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: end;
}

.imgGameOver {

    height: 80px;
    width: 80px;

}

#personajeSeleccionado>.imgGameOver {
    margin-top: 200px;
    height: 200px;
    width: 200px;
}

#spriteEnemigo>.imgGameOver {
    height: 200px;
    width: 200px;
}

.linkContacto {
    text-decoration: none;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 20px;
    background-color: #f9ca24;
    border: #535c68 2px solid;
    color: #130f40;
    padding: 4px;
    cursor: pointer;
    border-radius: 10px;
}

#flechaIniciar {

    height: 300px;
    width: 300px;
}